body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#calculator {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border: 1px solid #000000;
}
#result {
    font-size: 24px;
    width: 95%; 
    padding: 8px; 
    margin-bottom: 10px;
}
.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.button {
    flex: 1;
    width: 70px;
    height: 70px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}